.splash__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../images/page_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.splash__container > img {
    width: 35rem;
}